<html>
  <head>
    <title>Create Category</title>
  </head>
  <body>
    <h1>Create Category</h1>
    <form action="/category/save" method="post">
      <input type="text" name="name" placeholder="Category Name" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
